.Shipping {
  width: 100%;
  margin: 2%;
}

.input__col {
  display: flex;
  justify-content: start;
}
.button__group {
  margin: 7% 0;
}

/* .each_inp_col {
  padding-right: 2%;
} */
@media screen and (max-width: 1440px) {
  .input__col {
    flex-direction: column;
  }
}
