.yellow {
  color: rgb(255, 197, 6);
}

.nav {
  width: 100%;
}

.navbar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2% 10px;
  font-size: 20px;
  border-bottom: 1px solid lightgray;
}

.navbar li {
  list-style-type: none;
  padding: 20px 25px;
}

.navItem a:first-child {
  display: flex;
  align-items: center;
}

.nav__logo {
  width: 98px;
  height: auto;
}

.navItem {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .navbar {
    flex-direction: column;
  }
  .navbar li {
    padding: 20px 10px;
  }
}
