.main__container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2%;
  padding: 0 3%;
}

@media screen and (max-width: 1440px) {
  .main__container {
    display: flex;
    flex-direction: column-reverse;
  }
}
