.payment__btn {
  margin: 5% 2%;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 2% 4%;
  margin: 1% 0.7%;
}

.payment__btn:active {
  border-color: rgb(255, 197, 6);
}

.payment__img {
  height: 40px;
}

.payment__btn a {
  display: flex;
  padding: 0 30px;
}
