.payment__btn {
  padding: 0 30px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 30px;
  width: 13%;
  height: 9%;
  margin: 5px;
} 

.payment__btn:active {
  border-color: rgb(255, 197, 6);
}
.payment__img {
  width: 100%;
  height: 100%;
}

.payment__btn a {
  display: flex;
}
